@import "ui-variables";

.line {
    &.nofocus {
        opacity: 0.15;
        text-shadow: 0 0 8px rgba(0,0,0,0.5);
    }

    &.focus {
        background-color: inherit;
        opacity: inherit;
    }
}
